<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h3>Login here!</h3><br>
    <form action="">
        <label for="">Email:</label>
        <input type="email"><br><br>
        <label for="">Name:</label>
        <input type="text"><br><br>
        <label for="">Password:</label>
        <input type="password" name="" id=""><br><br>
        <button type="submit">Login</button>
        <h5>Yet not? Signup</h5>
        <button (click)="sign()">Signup</button>
    </form>
</body>
</html>
