<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h3>Signup here!</h3><br>
    <label for="">Name:</label>
    <input type="text"><br><br>
    <label for="">Age:</label>
    <input type="text"><br><br>
    <label for="">Institute:</label>
    <input type="text"><br><br>
    <label for="">Password:</label>
    <input type="password"><br><br>
    <label for="">Confirm Password:</label>
    <input type="password"><br><br>
    <button type="submit">Signup</button>
</body>
</html>